<<<<<<< HEAD
/* * {
=======



* {
>>>>>>> 8d34c39535f32f73f55fb3eae22f872c1151087f
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
} */

.red { 
  background-color: rgb(255, 137, 137);
  font-family: verdana,DejaVu Sans,sans-serif;
}

<<<<<<< HEAD
#blue {
  color: hsl(240,100,30);
  font-size: 36px;

}

.cooler {
  background-color: rgb(255, 137, 137);
  font-size: 24px;
}

#another {
  background-color: hsl(120, 70%, 68%)  ;
  font-size: 24px;
=======
div {
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
>>>>>>> 8d34c39535f32f73f55fb3eae22f872c1151087f
  font-weight: bold;
}



<<<<<<< HEAD


=======
button {
  background-color: orange;
  font-size: 18px;
}
>>>>>>> 8d34c39535f32f73f55fb3eae22f872c1151087f
