.red {
  background-color:rgb(243, 133, 147);
}

.red.first {
  font-family: Verdana,DejaVu Sans,sans-serif;
}

#blue{
  color: hsl(241, 81%, 51%);
  font-size: 36px;
}

.red.cooler {
  font-size: 24px;
}
#another {
  font-weight: bold;
  background-color:rgb(116, 247, 116);
}